aside {
  height: fit-content;
  width: 100%;
  padding: 48px 0;
  margin: 0 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .title {
    display: flex;
    align-items: center;
    gap: 10px;

    h2 {
      color: #5b483d;
    }

    img {
      width: 32px;
      height: 32px;
      filter: invert(25%) sepia(9%) saturate(1614%) hue-rotate(338deg)
        brightness(96%) contrast(80%);
    }
  }

  .filters-collapse {
    display: none;
  }

  .filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    h3 {
      color: #b99a88;
      text-align: center;
    }

    menu {
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 12px;
      flex-wrap: wrap;
      width: 70%;

      .color {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: none;
          cursor: pointer;

          img {
            width: 28px;
            height: 28px;
            filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(228deg)
              brightness(106%) contrast(101%);
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  aside {
    padding: 10px 0 10px 40px;
    border-bottom: #efefef solid 2px;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;

    .filters.expanded {
      display: none;
    }

    .filters-collapse.hidden {
      display: none;
    }

    .filters-collapse {
      display: block;
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      width: 100%;

      .filters {
        background-color: #fff;
        z-index: 20;
        padding: 32px 0;
        align-items: flex-start;
        padding-left: 40px;

        menu {
          justify-content: start;
          align-items: flex-start;
        }
      }
    }
  }
}
