<main>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <legend>Ingresa al panel de administrador</legend>
    <mat-form-field appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="pat@example.com"
      />
      <mat-error
        class="error"
        *ngIf="loginForm.controls.email.hasError('email') || loginForm.controls.email.hasError('required')"
      >
        Ingrese un correo electrónico válido
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="**********"
      />
      <mat-error
      class="error"
      *ngIf="loginForm.controls.email.hasError('email') || loginForm.controls.email.hasError('required')"
    >
      Ingrese una contraseña válida
    </mat-error>
    </mat-form-field>
    <button
      class="button"
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Ingresar
    </button>
  </form>
</main>
