<header *ngIf="categories.length > 0">
  <button
    *ngIf="categories.length >= 6"
    class="control"
    (click)="pushCarousel()"
    type="button"
  >
    <
  </button>
  <menu
    class="categories"
    [ngStyle]="{ 'grid-template-columns': carouselWidth }"
  >
    <li
      *ngFor="let category of categories"
      [class.active]="currentCategory === category.id"
    >
      <button
        class="close"
        type="menu"
        *ngIf="currentCategory === category.id"
        (click)="setFilter('')"
      >
        X
      </button>
      <div (click)="setFilter(category.id)">
        <button type="button">{{ category.name | uppercase }}</button>
      </div>
      <img
        [src]="category.img"
        [alt]="category.name"
        (click)="setFilter(category.id)"
      />
    </li>
  </menu>
  <button
    *ngIf="categories.length > 6"
    class="control"
    (click)="pullCarousel()"
    type="button"
  >
    >
  </button>
</header>
