<main>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <legend>Ingresa al panel de administrador</legend>
    <mat-form-field appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="pat@example.com"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="**********"
      />
    </mat-form-field>
    <button class="button" mat-flat-button color="primary" type="submit">
      Ingresar
    </button>
  </form>
</main>
