.color-picker {
  position: relative;
  .badges {
    width: 700px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 40px;
    margin-bottom: 20px;
    position: absolute;
    top: 100px;
  }

  .input {
    width: 300px;
    height: 80px;
  }
}

@media (max-width: 1075px) {
  .color-picker {
    .badges {
      justify-content: center;
      width: 300px;
      padding: 40px 6px;
    }
  }
}
