.main-container {
  left: 0;
  right: 0;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

@media (max-width: 750px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
}
