footer {
  left: 0;
  right: 0;

  .top {
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 2fr;
    padding: 20px 0;
    border-bottom: 2px solid #efefef;
  }

  .logo {
    margin-left: 30px;

    * {
      text-decoration: none;
      font-size: 32px;
      color: #5b483d;
    }
  }

  .info {
    padding: 32px 120px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;

    * {
      list-style-type: none;

      h3 {
        color: #5b483d;
        margin-bottom: 20px;
      }

      li {
        margin-bottom: 6px;
        color: #b99a88;

        a {
          text-decoration: none;
          color: #b99a88;
        }

        a:hover {
          color: #5b483d;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  footer {
    .top {
      grid-template-columns: 1fr 2fr;
    }
    .info {
      justify-content: center;
      padding: 32px 10;
      gap: 20px;
    }
  }
}
