main {
  height: 100%;
  overflow-y: auto;

  .edit, .delete {
    cursor: pointer;
  }

  .edit {
    color: #3f51b5;
    margin-right: 12px;
    text-decoration: none;
  }

  .delete {
    color: red;
    border: none;
    background-color: transparent;
  }
}
