.layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;

  .main {
    .top-bar {
      background-color: #3f51b5;
      height: 52px;
    }

  }
}
